@using Entities.Concrete
@model Entities.Concrete.Advert

@{
    Layout = "_RealEstateLayout";
}


    <h4>Advert</h4>
    <hr />

    <label asp-for="Province.Name"></label>
    <select id="ProvinceId" name="Provincelist" asp-for="Province.Id" asp-items='@(new SelectList(ViewBag.ProvinceList, "Id", "Name"))'>
        <option>-- İl Seçiniz -- </option>
    </select>

    <select id="DistrictId" name="DistrictList" asp-for="Id" asp-items='@(new SelectList(string.Empty, "Id", "Name"))'>
        <option>-- İlçe Seçiniz -- </option>
    </select>

<select id="PlaceId" name="PlaceList" asp-for="Id" asp-items='@(new SelectList(string.Empty, "Id", "Name"))'>
    <option>-- Semt Seçiniz -- </option>
</select>

<select id="NeighborhoodId" name="NeighborhoodList" asp-for="Id" asp-items='@(new SelectList(string.Empty, "Id", "Name"))'>
    <option>-- Mahalle Seçiniz -- </option>
</select>

<div>
        <a asp-action="Index">Back to List</a>
    </div>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script>
        $(function () {
            alert("deneme")
        $("#ProvinceId").change(function() {

            var url = '@Url.Content("~/")' + "Advert/GetDistrictById";
            var ddlsource = "#ProvinceId";;

            debugger;
            $.getJSON(url,
                { id: $(ddlsource).val() },
                function(data) {
                    var items = '';
                    $("#DistrictId").empty();
                    $.each(data,
                        function(i, row) {
                            items += "<option value='" + row.value + "'>" + row.text + "</option>";
                        });
                    $("#DistrictId").html(items);
                })
        });
        $("#DistrictId").change(function() {

            var url = '@Url.Content("~/")' + "Advert/GetPlaceGetById";
            var ddlsource = "#DistrictId";;
            debugger;
            $.getJSON(url,
                { id: $(ddlsource).val() },
                function(data) {
                    var items = '';
                    $("#PlaceId").empty();
                    $.each(data,
                        function(i, row) {
                            items += "<option value='" + row.value + "'>" + row.text + "</option>";
                        });
                    $("#PlaceId").html(items);
                })
        });
        $("#PlaceId").change(function () {

            var url = '@Url.Content("~/")' + "Advert/GetNeighborhoodById";
            var ddlsource = "#PlaceId";
            ;
            debugger;
            $.getJSON(url, { id: $(ddlsource).val() }, function(data) {
                var items = '';
                $("#NeighborhoodId").empty();
                $.each(data,
                    function(i, row) {
                        items += "<option value='" + row.value + "'>" + row.text + "</option>";
                    });
                $("#NeighborhoodId").html(items);
            })
        })
    })
    </script>

