@model IEnumerable<DataTransferObjects.AdvertForListDto>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Oda Sayısı</th>
            <th>Bina Yaşı</th>
            <th>Bina Katsayısı</th>
            <th>Kat</th>
            <th>Fiyat</th>
            <th>m²</th>
            <th>İl</th>
            <th>İlçe</th>
            <th>Mahalle</th>
            <th>Emlakçı Bilgi</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @item.Id
            </td>
            <td>
                @item.RoomCount
            </td>
            <td>
                @item.BuildAge
            </td>
            <td>
                @item.BuildFloor
            </td>
            <td>
                @item.Floor
            </td>
            <td>
                @item.Price
            </td>
            <td>
                @item.SquareMeter
            </td>
            <td>
                @item.Province.Name
            </td>
            <td>
                @item.District.Name
            </td>
            <td>
                @item.Neighborhood.Name
            </td>
            <td>
                @item.RealEstate.CompanyName
                @item.RealEstate.UserName
                @item.RealEstate.Address
                @item.RealEstate.Mail
            </td>
        </tr>
}
    </tbody>
</table>
